<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login | Chirper</title>
        <link rel="stylesheet" href="global.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    </head>

    <body>
        <h1>Login</h1>

        <ul>
            <% if (messages.success_msg) { %>
            <li><%= messages.success_msg %></li>
            <% } %>
        </ul>
        <ul>
            <% if (messages.error) { %>
            <li><%= messages.error %></li>
            <% } %>
        </ul>

        <!-- Login form -->
        <form action="login" method="post">
            <div class="input-field">
                <label for="email">Email address</label>

                <input type="email" name="email" id="email" required />
            </div>

            <div class="input-field">
                <label for="password">Password</label>

                <input type="password" name="password" id="password" required />
            </div>

            <div class="input-field">
                <input type="submit" value="Login" />
            </div>

            <a href="/register">Create an account</a>
        </form>
    </body>

</html>